<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Main Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../CSS/adminMain.css ">
</head>
<body>
<div id="menu">
    <a href="#" id="userManagementLink">用户管理</a>
    <a href="#" id="goodManagementLink">商品管理</a>
    <a href="#" id="postManagementLink">帖子管理</a>
</div>
<div id="content">
    <iframe id="contentFrame" src=""></iframe>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#userManagementLink').on('click', function(event) {
            event.preventDefault();
            $('#contentFrame').attr('src', '/Admin/userManagement?page=1');
        });

        $('#goodManagementLink').on('click', function(event) {
            event.preventDefault();
            $('#contentFrame').attr('src', '/Admin/goodManagement?page=1');
        });

        $('#postManagementLink').on('click', function(event) {
            event.preventDefault();
            $('#contentFrame').attr('src', '/Admin/postManagement?page=1');
        });
    });
</script>
</body>
</html>
