<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Modification</title>
    <link rel="stylesheet" href="../CSS/modifyUserPage.css">
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">用户信息修改界面</h2>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="/Admin/modifyUser" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="uname" class="col-sm-3 col-form-label">用户名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="uname" name="uname" th:value="${modifyUser.uname}">
                                <span id="sp" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="upass" class="col-sm-3 col-form-label">用户密码</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="upass" name="upass" th:value="${modifyUser.upass}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="utel" class="col-sm-3 col-form-label">用户电话</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="utel" name="utel" th:value="${modifyUser.utel}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="uemail" class="col-sm-3 col-form-label">用户邮箱</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="uemail" name="uemail" th:value="${modifyUser.uemail}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-success mr-2">保存</button>
                                <a class="btn btn-secondary" href="/Admin/modifyCancel">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu li a').hover(function () {
            $(this).children('i').addClass('icon-white');
        }, function () {
            $(this).children('i').removeClass('icon-white');
        });

        if ($(window).width() > 760) {
            $('tr.list-users td div ul').addClass('pull-right');
        }
    });
</script>

</body>
</html>
