<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/modifyPage.css ">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="page-header">
            <h1>
                <small>用户信息修改</small>
            </h1>
        </div>
        <form class="form-horizontal" action="/Admin/modifyUser"
              method="post" enctype="multipart/form-data">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="uname">用户名</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="uname" name="uname" th:value="${modifyUser.uname}"/>
                        <span id="sp" style="color:red"></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="upass">用户密码</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="upass" name="upass" th:value="${modifyUser.upass}"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="utel">用户电话</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="utel" name="utel" th:value="${modifyUser.utel}"/>
                    </div>

                </div><div class="control-group">
                    <label class="control-label" for="uemail">用户邮箱</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="uemail" name="uemail" th:value="${modifyUser.uemail}"/>
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" class="btn btn-success btn-large" value="保存"/>
                    <a class="btn" href="/Admin/modifyCancel">取消</a>
                </div>
            </fieldset>
        </form>

    </div>
</div>
</body>
</html>
<script src="./js/jquery.js"></script>

<script src="./js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu li a').hover(function () {
            $(this).children('i').addClass('icon-white');
        }, function () {
            $(this).children('i').removeClass('icon-white');
        });

        if ($(window).width() > 760) {
            $('tr.list-users td div ul').addClass('pull-right');
        }
    });
</script>
