<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modify Good</title>
  <link rel="stylesheet" href="../../CSS/modifyGoodPage.css">
  <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">修改商品信息</h2>
        </div>
        <div class="card-body">
          <form class="form-horizontal" action="/Admin/Goods/modify" method="post" enctype="multipart/form-data">
            <div class="form-group row">
              <label for="gname" class="col-sm-3 col-form-label">商品名</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gname" name="gname" th:value="${modifyGood.gname}">
                <span id="sp" style="color:red"></span>
              </div>
            </div>
            <div class="form-group row">
              <label for="gprofile" class="col-sm-3 col-form-label">商品简介</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gprofile" name="gprofile" th:value="${modifyGood.gprofile}">
              </div>
            </div>
            <div class="form-group row">
              <label for="gprice" class="col-sm-3 col-form-label">商品价格</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gprice" name="gprice" th:value="${modifyGood.gprice}">
              </div>
            </div>
            <div class="form-group row">
              <label for="file" class="col-sm-3 col-form-label">图片</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="file" name="file">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">当前图片</label>
              <div class="col-sm-9">
                <img th:src="@{${modifyGood.gimg}}" width="100px" height="100px">
              </div>
            </div>
            <div class="form-group row">
              <label for="uname" class="col-sm-3 col-form-label">持有者用户名</label>
              <div class="col-sm-9">
                <span id="uname" th:text="${modifyGood.user.uname}"></span>
              </div>
            </div>
            <div class="form-group row">
              <label for="utel" class="col-sm-3 col-form-label">持有者电话</label>
              <div class="col-sm-9">
                <span id="utel" th:text="${modifyGood.user.utel}"></span>
              </div>
            </div>
            <div class="form-group row">
              <label for="uemail" class="col-sm-3 col-form-label">持有者邮箱</label>
              <div class="col-sm-9">
                <span id="uemail" th:text="${modifyGood.user.uemail}"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-success">保存</button>
                <a class="btn btn-secondary" href="/Admin/Goods/addCancel">取消</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $('.dropdown-menu li a').hover(function () {
      $(this).children('i').addClass('icon-white');
    }, function () {
      $(this).children('i').removeClass('icon-white');
    });

    if ($(window).width() > 760) {
      $('tr.list-users td div ul').addClass('pull-right');
    }
  });
</script>

</body>
</html>
