body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 30%;  /* Adjust width to ensure three items per row */
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.post-item div {
    margin-bottom: 10px;
}

.post-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transform: scale(1.1);
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.tcdPageCode {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tcdPageCode a, .tcdPageCode span {
    display: inline-block;
    padding: 6px 12px;
    margin: 3px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.tcdPageCode a:hover {
    background-color: #007bff;
    color: white;
}

.tcdPageCode span.current {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: default;
}
